<style>
    .button {
  display: flex;
  height: 50px;
  margin: auto;
  padding: 0;
  background: #356fdc;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #3064c5;
}

.button:active {
  background: #356fdc;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.05);
}

</style>

<button type="button" class="button">
    <span class="button__icon">
      <ion-icon name= {{ .Get "ionicon" }}></ion-icon>
    </span>
    <span class="button__text">{{ .Get "text" }}</span>
</button>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>